{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-01",
    "endpointPrefix":"eks",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon EKS",
    "serviceFullName":"Amazon Elastic Kubernetes Service",
    "serviceId":"EKS",
    "signatureVersion":"v4",
    "signingName":"eks",
    "uid":"eks-2017-11-01"
  },
  "operations":{
    "AssociateEncryptionConfig":{
      "name":"AssociateEncryptionConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/encryption-config/associate"
      },
      "input":{"shape":"AssociateEncryptionConfigRequest"},
      "output":{"shape":"AssociateEncryptionConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Associate encryption configuration to an existing cluster.</p> <p>You can use this API to enable encryption on existing clusters which do not have encryption already enabled. This allows you to implement a defense-in-depth security strategy without migrating applications to new Amazon EKS clusters.</p>"
    },
    "AssociateIdentityProviderConfig":{
      "name":"AssociateIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/associate"
      },
      "input":{"shape":"AssociateIdentityProviderConfigRequest"},
      "output":{"shape":"AssociateIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Associate an identity provider configuration to a cluster.</p> <p>If you want to authenticate identities using an identity provider, you can create an identity provider configuration and associate it to your cluster. After configuring authentication to your cluster you can create Kubernetes <code>roles</code> and <code>clusterroles</code> to assign permissions to the roles, and then bind the roles to the identities using Kubernetes <code>rolebindings</code> and <code>clusterrolebindings</code>. For more information see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Using RBAC Authorization</a> in the Kubernetes documentation.</p>"
    },
    "CreateAddon":{
      "name":"CreateAddon",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/addons"
      },
      "input":{"shape":"CreateAddonRequest"},
      "output":{"shape":"CreateAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Amazon EKS add-on.</p> <p>Amazon EKS add-ons help to automate the provisioning and lifecycle management of common operational software for Amazon EKS clusters. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/clusters"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"UnsupportedAvailabilityZoneException"}
      ],
      "documentation":"<p>Creates an Amazon EKS control plane. </p> <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes software, such as <code>etcd</code> and the API server. The control plane runs in an account managed by Amazon Web Services, and the Kubernetes API is exposed by the Amazon EKS API server endpoint. Each Amazon EKS cluster control plane is single tenant and unique. It runs on its own set of Amazon EC2 instances.</p> <p>The cluster control plane is provisioned across multiple Availability Zones and fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC subnets to provide connectivity from the control plane instances to the nodes (for example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code> data flows).</p> <p>Amazon EKS nodes run in your Amazon Web Services account and connect to your cluster's control plane over the Kubernetes API server endpoint and a certificate file that is created for your cluster.</p> <p>In most cases, it takes several minutes to create a cluster. After you create an Amazon EKS cluster, you must configure your Kubernetes tooling to communicate with the API server and launch nodes into your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html\">Managing Cluster Authentication</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS nodes</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateFargateProfile":{
      "name":"CreateFargateProfile",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/fargate-profiles"
      },
      "input":{"shape":"CreateFargateProfileRequest"},
      "output":{"shape":"CreateFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedAvailabilityZoneException"}
      ],
      "documentation":"<p>Creates an Fargate profile for your Amazon EKS cluster. You must have at least one Fargate profile in a cluster to be able to run pods on Fargate.</p> <p>The Fargate profile allows an administrator to declare which pods run on Fargate and specify which pods run on which Fargate profile. This declaration is done through the profile’s selectors. Each profile can have up to five selectors that contain a namespace and labels. A namespace is required for every selector. The label field consists of multiple optional key-value pairs. Pods that match the selectors are scheduled on Fargate. If a to-be-scheduled pod matches any of the selectors in the Fargate profile, then that pod is run on Fargate.</p> <p>When you create a Fargate profile, you must specify a pod execution role to use with the pods that are scheduled with the profile. This role is added to the cluster's Kubernetes <a href=\"https://kubernetes.io/docs/admin/authorization/rbac/\">Role Based Access Control</a> (RBAC) for authorization so that the <code>kubelet</code> that is running on the Fargate infrastructure can register with your Amazon EKS cluster so that it can appear in your cluster as a node. The pod execution role also provides IAM permissions to the Fargate infrastructure to allow read access to Amazon ECR image repositories. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p> <p>Fargate profiles are immutable. However, you can create a new updated profile to replace an existing profile and then delete the original after the updated profile has finished creating.</p> <p>If any Fargate profiles in a cluster are in the <code>DELETING</code> status, you must wait for that Fargate profile to finish deleting before you can create any other profiles in that cluster.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/fargate-profile.html\">Fargate Profile</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateNodegroup":{
      "name":"CreateNodegroup",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"CreateNodegroupRequest"},
      "output":{"shape":"CreateNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a managed node group for an Amazon EKS cluster. You can only create a node group for your cluster that is equal to the current Kubernetes version for the cluster. All node groups are created with the latest AMI release version for the respective minor Kubernetes version of the cluster, unless you deploy a custom AMI using a launch template. For more information about using launch templates, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a>.</p> <p>An Amazon EKS managed node group is an Amazon EC2 Auto Scaling group and associated Amazon EC2 instances that are managed by Amazon Web Services for an Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html\">Managed node groups</a> in the <i>Amazon EKS User Guide</i>.</p> <note> <p>Windows AMI types are only supported for commercial Regions that support Windows Amazon EKS.</p> </note>"
    },
    "DeleteAddon":{
      "name":"DeleteAddon",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/addons/{addonName}"
      },
      "input":{"shape":"DeleteAddonRequest"},
      "output":{"shape":"DeleteAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Delete an Amazon EKS add-on.</p> <p>When you remove the add-on, it will also be deleted from the cluster. You can always manually start an add-on on the cluster using the Kubernetes API.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the Amazon EKS cluster control plane.</p> <p>If you have active services in your cluster that are associated with a load balancer, you must delete those services before deleting the cluster so that the load balancers are deleted properly. Otherwise, you can have orphaned resources in your VPC that prevent you from being able to delete the VPC. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a Cluster</a> in the <i>Amazon EKS User Guide</i>.</p> <p>If you have managed node groups or Fargate profiles attached to the cluster, you must delete them first. For more information, see <a>DeleteNodegroup</a> and <a>DeleteFargateProfile</a>.</p>"
    },
    "DeleteFargateProfile":{
      "name":"DeleteFargateProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input":{"shape":"DeleteFargateProfileRequest"},
      "output":{"shape":"DeleteFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an Fargate profile.</p> <p>When you delete a Fargate profile, any pods running on Fargate that were created with the profile are deleted. If those pods match another Fargate profile, then they are scheduled on Fargate with that profile. If they no longer match any Fargate profiles, then they are not scheduled on Fargate and they may remain in a pending state.</p> <p>Only one Fargate profile in a cluster can be in the <code>DELETING</code> status at a time. You must wait for a Fargate profile to finish deleting before you can delete any other profiles in that cluster.</p>"
    },
    "DeleteNodegroup":{
      "name":"DeleteNodegroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DeleteNodegroupRequest"},
      "output":{"shape":"DeleteNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes an Amazon EKS node group for a cluster.</p>"
    },
    "DeregisterCluster":{
      "name":"DeregisterCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/cluster-registrations/{name}"
      },
      "input":{"shape":"DeregisterClusterRequest"},
      "output":{"shape":"DeregisterClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deregisters a connected cluster to remove it from the Amazon EKS control plane.</p>"
    },
    "DescribeAddon":{
      "name":"DescribeAddon",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/addons/{addonName}"
      },
      "input":{"shape":"DescribeAddonRequest"},
      "output":{"shape":"DescribeAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes an Amazon EKS add-on.</p>"
    },
    "DescribeAddonConfiguration":{
      "name":"DescribeAddonConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/addons/configuration-schemas"
      },
      "input":{"shape":"DescribeAddonConfigurationRequest"},
      "output":{"shape":"DescribeAddonConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns configuration options.</p>"
    },
    "DescribeAddonVersions":{
      "name":"DescribeAddonVersions",
      "http":{
        "method":"GET",
        "requestUri":"/addons/supported-versions"
      },
      "input":{"shape":"DescribeAddonVersionsRequest"},
      "output":{"shape":"DescribeAddonVersionsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Describes the versions for an add-on. Information such as the Kubernetes versions that you can use the add-on with, the <code>owner</code>, <code>publisher</code>, and the <code>type</code> of the add-on are returned. </p>"
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DescribeClusterRequest"},
      "output":{"shape":"DescribeClusterResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns descriptive information about an Amazon EKS cluster.</p> <p>The API server endpoint and certificate authority data returned by this operation are required for <code>kubelet</code> and <code>kubectl</code> to communicate with your Kubernetes API server. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Create a kubeconfig for Amazon EKS</a>.</p> <note> <p>The API server endpoint and certificate authority data aren't available until the cluster reaches the <code>ACTIVE</code> state.</p> </note>"
    },
    "DescribeFargateProfile":{
      "name":"DescribeFargateProfile",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input":{"shape":"DescribeFargateProfileRequest"},
      "output":{"shape":"DescribeFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns descriptive information about an Fargate profile.</p>"
    },
    "DescribeIdentityProviderConfig":{
      "name":"DescribeIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/describe"
      },
      "input":{"shape":"DescribeIdentityProviderConfigRequest"},
      "output":{"shape":"DescribeIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns descriptive information about an identity provider configuration.</p>"
    },
    "DescribeNodegroup":{
      "name":"DescribeNodegroup",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DescribeNodegroupRequest"},
      "output":{"shape":"DescribeNodegroupResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns descriptive information about an Amazon EKS node group.</p>"
    },
    "DescribeUpdate":{
      "name":"DescribeUpdate",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/updates/{updateId}"
      },
      "input":{"shape":"DescribeUpdateRequest"},
      "output":{"shape":"DescribeUpdateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns descriptive information about an update against your Amazon EKS cluster or associated managed node group or Amazon EKS add-on.</p> <p>When the status of the update is <code>Succeeded</code>, the update is complete. If an update fails, the status is <code>Failed</code>, and an error detail explains the reason for the failure.</p>"
    },
    "DisassociateIdentityProviderConfig":{
      "name":"DisassociateIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/disassociate"
      },
      "input":{"shape":"DisassociateIdentityProviderConfigRequest"},
      "output":{"shape":"DisassociateIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Disassociates an identity provider configuration from a cluster. If you disassociate an identity provider from your cluster, users included in the provider can no longer access the cluster. However, you can still access the cluster with Amazon Web Services IAM users.</p>"
    },
    "ListAddons":{
      "name":"ListAddons",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/addons"
      },
      "input":{"shape":"ListAddonsRequest"},
      "output":{"shape":"ListAddonsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ClientException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the available add-ons.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"GET",
        "requestUri":"/clusters"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the Amazon EKS clusters in your Amazon Web Services account in the specified Region.</p>"
    },
    "ListFargateProfiles":{
      "name":"ListFargateProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/fargate-profiles"
      },
      "input":{"shape":"ListFargateProfilesRequest"},
      "output":{"shape":"ListFargateProfilesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the Fargate profiles associated with the specified cluster in your Amazon Web Services account in the specified Region.</p>"
    },
    "ListIdentityProviderConfigs":{
      "name":"ListIdentityProviderConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/identity-provider-configs"
      },
      "input":{"shape":"ListIdentityProviderConfigsRequest"},
      "output":{"shape":"ListIdentityProviderConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>A list of identity provider configurations.</p>"
    },
    "ListNodegroups":{
      "name":"ListNodegroups",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"ListNodegroupsRequest"},
      "output":{"shape":"ListNodegroupsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the Amazon EKS managed node groups associated with the specified cluster in your Amazon Web Services account in the specified Region. Self-managed node groups are not listed.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>List the tags for an Amazon EKS resource.</p>"
    },
    "ListUpdates":{
      "name":"ListUpdates",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/updates"
      },
      "input":{"shape":"ListUpdatesRequest"},
      "output":{"shape":"ListUpdatesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the updates associated with an Amazon EKS cluster or managed node group in your Amazon Web Services account, in the specified Region.</p>"
    },
    "RegisterCluster":{
      "name":"RegisterCluster",
      "http":{
        "method":"POST",
        "requestUri":"/cluster-registrations"
      },
      "input":{"shape":"RegisterClusterRequest"},
      "output":{"shape":"RegisterClusterResponse"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourcePropagationDelayException"}
      ],
      "documentation":"<p>Connects a Kubernetes cluster to the Amazon EKS control plane. </p> <p>Any Kubernetes cluster can be connected to the Amazon EKS control plane to view current information about the cluster and its nodes. </p> <p>Cluster connection requires two steps. First, send a <code> <a>RegisterClusterRequest</a> </code> to add it to the Amazon EKS control plane.</p> <p>Second, a <a href=\"https://amazon-eks.s3.us-west-2.amazonaws.com/eks-connector/manifests/eks-connector/latest/eks-connector.yaml\">Manifest</a> containing the <code>activationID</code> and <code>activationCode</code> must be applied to the Kubernetes cluster through it's native provider to provide visibility.</p> <p>After the Manifest is updated and applied, then the connected cluster is visible to the Amazon EKS control plane. If the Manifest is not applied within three days, then the connected cluster will no longer be visible and must be deregistered. See <a>DeregisterCluster</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well. Tags that you create for Amazon EKS resources do not propagate to any other resources associated with the cluster. For example, if you tag a cluster with this operation, that tag does not automatically propagate to the subnets and nodes associated with the cluster.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p>"
    },
    "UpdateAddon":{
      "name":"UpdateAddon",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/addons/{addonName}/update"
      },
      "input":{"shape":"UpdateAddonRequest"},
      "output":{"shape":"UpdateAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates an Amazon EKS add-on.</p>"
    },
    "UpdateClusterConfig":{
      "name":"UpdateClusterConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/update-config"
      },
      "input":{"shape":"UpdateClusterConfigRequest"},
      "output":{"shape":"UpdateClusterConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS cluster configuration. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>You can use this API operation to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note> <p>You can also use this API operation to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled, and private access is disabled. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\">Amazon EKS cluster endpoint access control</a> in the <i> <i>Amazon EKS User Guide</i> </i>. </p> <important> <p>You can't update the subnets or security group IDs for an existing cluster.</p> </important> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>"
    },
    "UpdateClusterVersion":{
      "name":"UpdateClusterVersion",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/updates"
      },
      "input":{"shape":"UpdateClusterVersionRequest"},
      "output":{"shape":"UpdateClusterVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS cluster to the specified Kubernetes version. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a>DescribeUpdate</a> API operation.</p> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p> <p>If your cluster has managed node groups attached to it, all of your node groups’ Kubernetes versions must match the cluster’s Kubernetes version in order to update the cluster to a new Kubernetes version.</p>"
    },
    "UpdateNodegroupConfig":{
      "name":"UpdateNodegroupConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-config"
      },
      "input":{"shape":"UpdateNodegroupConfigRequest"},
      "output":{"shape":"UpdateNodegroupConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS managed node group configuration. Your node group continues to function during the update. The response output includes an update ID that you can use to track the status of your node group update with the <a>DescribeUpdate</a> API operation. Currently you can update the Kubernetes labels for a node group or the scaling configuration.</p>"
    },
    "UpdateNodegroupVersion":{
      "name":"UpdateNodegroupVersion",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-version"
      },
      "input":{"shape":"UpdateNodegroupVersionRequest"},
      "output":{"shape":"UpdateNodegroupVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the Kubernetes version or AMI version of an Amazon EKS managed node group.</p> <p>You can update a node group using a launch template only if the node group was originally deployed with a launch template. If you need to update a custom AMI in a node group that was deployed with a launch template, then update your custom AMI, specify the new ID in a new version of the launch template, and then update the node group to the new version of the launch template.</p> <p>If you update without a launch template, then you can update to the latest available AMI version of a node group's current Kubernetes version by not specifying a Kubernetes version in the request. You can update to the latest AMI version of your cluster's current Kubernetes version by specifying your cluster's Kubernetes version in the request. For information about Linux versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS optimized Amazon Linux AMI versions</a> in the <i>Amazon EKS User Guide</i>. For information about Windows versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-ami-versions-windows.html\">Amazon EKS optimized Windows AMI versions</a> in the <i>Amazon EKS User Guide</i>. </p> <p>You cannot roll back a node group to an earlier Kubernetes version or AMI version.</p> <p>When a node in a managed node group is terminated due to a scaling action or update, the pods in that node are drained first. Amazon EKS attempts to drain the nodes gracefully and will fail if it is unable to do so. You can <code>force</code> the update if Amazon EKS is unable to drain the nodes as a result of a pod disruption budget issue.</p>"
    }
  },
  "shapes":{
    "AMITypes":{
      "type":"string",
      "enum":[
        "AL2_x86_64",
        "AL2_x86_64_GPU",
        "AL2_ARM_64",
        "CUSTOM",
        "BOTTLEROCKET_ARM_64",
        "BOTTLEROCKET_x86_64",
        "BOTTLEROCKET_ARM_64_NVIDIA",
        "BOTTLEROCKET_x86_64_NVIDIA",
        "WINDOWS_CORE_2019_x86_64",
        "WINDOWS_FULL_2019_x86_64",
        "WINDOWS_CORE_2022_x86_64",
        "WINDOWS_FULL_2022_x86_64"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Addon":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster.</p>"
        },
        "status":{
          "shape":"AddonStatus",
          "documentation":"<p>The status of the add-on.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "health":{
          "shape":"AddonHealth",
          "documentation":"<p>An object that represents the health of the add-on.</p>"
        },
        "addonArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the add-on.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the add-on was created.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the add-on was last modified.</p>"
        },
        "serviceAccountRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that's bound to the Kubernetes service account that the add-on uses.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata that you apply to the add-on to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Add-on tags do not propagate to any other resources associated with the cluster. </p>"
        },
        "publisher":{
          "shape":"String",
          "documentation":"<p>The publisher of the add-on.</p>"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>The owner of the add-on.</p>"
        },
        "marketplaceInformation":{
          "shape":"MarketplaceInformation",
          "documentation":"<p>Information about an Amazon EKS add-on from the Amazon Web Services Marketplace.</p>"
        },
        "configurationValues":{
          "shape":"String",
          "documentation":"<p>The configuration values that you provided.</p>"
        }
      },
      "documentation":"<p>An Amazon EKS add-on. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AddonHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"AddonIssueList",
          "documentation":"<p>An object representing the health issues for an add-on.</p>"
        }
      },
      "documentation":"<p>The health of the add-on.</p>"
    },
    "AddonInfo":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the add-on.</p>"
        },
        "addonVersions":{
          "shape":"AddonVersionInfoList",
          "documentation":"<p>An object representing information about available add-on versions and compatible Kubernetes versions.</p>"
        },
        "publisher":{
          "shape":"String",
          "documentation":"<p>The publisher of the add-on.</p>"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>The owner of the add-on.</p>"
        },
        "marketplaceInformation":{
          "shape":"MarketplaceInformation",
          "documentation":"<p>Information about the add-on from the Amazon Web Services Marketplace.</p>"
        }
      },
      "documentation":"<p>Information about an add-on.</p>"
    },
    "AddonIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"AddonIssueCode",
          "documentation":"<p>A code that describes the type of issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A message that provides details about the issue and what might cause it.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs of the issue.</p>"
        }
      },
      "documentation":"<p>An issue related to an add-on.</p>"
    },
    "AddonIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "InternalFailure",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict",
        "AdmissionRequestDenied",
        "UnsupportedAddonModification",
        "K8sResourceNotFound"
      ]
    },
    "AddonIssueList":{
      "type":"list",
      "member":{"shape":"AddonIssue"}
    },
    "AddonStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "DELETING",
        "DELETE_FAILED",
        "DEGRADED",
        "UPDATE_FAILED"
      ]
    },
    "AddonVersionInfo":{
      "type":"structure",
      "members":{
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "architecture":{
          "shape":"StringList",
          "documentation":"<p>The architectures that the version supports.</p>"
        },
        "compatibilities":{
          "shape":"Compatibilities",
          "documentation":"<p>An object representing the compatibilities of a version.</p>"
        },
        "requiresConfiguration":{
          "shape":"Boolean",
          "documentation":"<p>Whether the add-on requires configuration.</p>"
        }
      },
      "documentation":"<p>Information about an add-on version.</p>"
    },
    "AddonVersionInfoList":{
      "type":"list",
      "member":{"shape":"AddonVersionInfo"}
    },
    "Addons":{
      "type":"list",
      "member":{"shape":"AddonInfo"}
    },
    "AssociateEncryptionConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "encryptionConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster that you are associating with encryption configuration.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "encryptionConfig":{
          "shape":"EncryptionConfigList",
          "documentation":"<p>The configuration you are using for encryption.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>The client request token you are using with the encryption configuration.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateEncryptionConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "AssociateIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "oidc"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to associate the configuration to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "oidc":{
          "shape":"OidcIdentityProviderConfigRequest",
          "documentation":"<p>An object representing an OpenID Connect (OIDC) identity provider configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the configuration to assist with categorization and organization. Each tag consists of a key and an optional value. You define both.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"},
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Auto Scaling group associated with an Amazon EKS managed node group.</p>"
        }
      },
      "documentation":"<p>An Auto Scaling group that is associated with an Amazon EKS managed node group.</p>"
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "Capacity":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CapacityTypes":{
      "type":"string",
      "enum":[
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "data":{
          "shape":"String",
          "documentation":"<p>The Base64-encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>"
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{"shape":"String"},
        "message":{"shape":"String"}
      },
      "documentation":"<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of a user that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the cluster.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes server version for the cluster.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The endpoint for your Kubernetes API server.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to Amazon Web Services API operations on your behalf.</p>"
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigResponse",
          "documentation":"<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "kubernetesNetworkConfig":{
          "shape":"KubernetesNetworkConfigResponse",
          "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>The logging configuration for your cluster.</p>"
        },
        "identity":{
          "shape":"Identity",
          "documentation":"<p>The identity provider information for the cluster.</p>"
        },
        "status":{
          "shape":"ClusterStatus",
          "documentation":"<p>The current status of the cluster.</p>"
        },
        "certificateAuthority":{
          "shape":"Certificate",
          "documentation":"<p>The <code>certificate-authority-data</code> for your cluster.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
        },
        "platformVersion":{
          "shape":"String",
          "documentation":"<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform Versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata that you apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Cluster tags do not propagate to any other resources associated with the cluster.</p>"
        },
        "encryptionConfig":{
          "shape":"EncryptionConfigList",
          "documentation":"<p>The encryption configuration for the cluster.</p>"
        },
        "connectorConfig":{
          "shape":"ConnectorConfigResponse",
          "documentation":"<p>The configuration used to connect to a cluster for registration.</p>"
        },
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of your local Amazon EKS cluster on an Amazon Web Services Outpost. This property isn't available for an Amazon EKS cluster on the Amazon Web Services cloud.</p>"
        },
        "health":{
          "shape":"ClusterHealth",
          "documentation":"<p>An object representing the health of your local Amazon EKS cluster on an Amazon Web Services Outpost. This object isn't available for clusters on the Amazon Web Services cloud.</p>"
        },
        "outpostConfig":{
          "shape":"OutpostConfigResponse",
          "documentation":"<p>An object representing the configuration of your local Amazon EKS cluster on an Amazon Web Services Outpost. This object isn't available for clusters on the Amazon Web Services cloud.</p>"
        }
      },
      "documentation":"<p>An object representing an Amazon EKS cluster.</p>"
    },
    "ClusterHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"ClusterIssueList",
          "documentation":"<p>An object representing the health issues of your local Amazon EKS cluster on an Amazon Web Services Outpost.</p>"
        }
      },
      "documentation":"<p>An object representing the health of your local Amazon EKS cluster on an Amazon Web Services Outpost. You can't use this API with an Amazon EKS cluster on the Amazon Web Services cloud. </p>"
    },
    "ClusterIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ClusterIssueCode",
          "documentation":"<p>The error code of the issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A description of the issue.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs that the issue relates to.</p>"
        }
      },
      "documentation":"<p>An issue with your local Amazon EKS cluster on an Amazon Web Services Outpost. You can't use this API with an Amazon EKS cluster on the Amazon Web Services cloud.</p>"
    },
    "ClusterIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "ClusterUnreachable",
        "ConfigurationConflict",
        "InternalFailure",
        "ResourceLimitExceeded",
        "ResourceNotFound"
      ]
    },
    "ClusterIssueList":{
      "type":"list",
      "member":{"shape":"ClusterIssue"}
    },
    "ClusterName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[0-9A-Za-z][A-Za-z0-9\\-_]*"
    },
    "ClusterStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING",
        "PENDING"
      ]
    },
    "Compatibilities":{
      "type":"list",
      "member":{"shape":"Compatibility"}
    },
    "Compatibility":{
      "type":"structure",
      "members":{
        "clusterVersion":{
          "shape":"String",
          "documentation":"<p>The supported Kubernetes version of the cluster.</p>"
        },
        "platformVersions":{
          "shape":"StringList",
          "documentation":"<p>The supported compute platform.</p>"
        },
        "defaultVersion":{
          "shape":"Boolean",
          "documentation":"<p>The supported default version.</p>"
        }
      },
      "documentation":"<p>Compatibility information.</p>"
    },
    "ConnectorConfigProvider":{
      "type":"string",
      "enum":[
        "EKS_ANYWHERE",
        "ANTHOS",
        "GKE",
        "AKS",
        "OPENSHIFT",
        "TANZU",
        "RANCHER",
        "EC2",
        "OTHER"
      ]
    },
    "ConnectorConfigRequest":{
      "type":"structure",
      "required":[
        "roleArn",
        "provider"
      ],
      "members":{
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role that is authorized to request the connector configuration.</p>"
        },
        "provider":{
          "shape":"ConnectorConfigProvider",
          "documentation":"<p>The cloud provider for the target cluster to connect.</p>"
        }
      },
      "documentation":"<p>The configuration sent to a cluster for configuration.</p>"
    },
    "ConnectorConfigResponse":{
      "type":"structure",
      "members":{
        "activationId":{
          "shape":"String",
          "documentation":"<p>A unique ID associated with the cluster for registration purposes.</p>"
        },
        "activationCode":{
          "shape":"String",
          "documentation":"<p>A unique code associated with the cluster for registration purposes.</p>"
        },
        "activationExpiry":{
          "shape":"Timestamp",
          "documentation":"<p>The expiration time of the connected cluster. The cluster's YAML file must be applied through the native provider.</p>"
        },
        "provider":{
          "shape":"String",
          "documentation":"<p>The cluster's cloud service provider.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role to communicate with services from the connected Kubernetes cluster.</p>"
        }
      },
      "documentation":"<p>The full description of your connected cluster.</p>"
    },
    "ControlPlanePlacementRequest":{
      "type":"structure",
      "members":{
        "groupName":{
          "shape":"String",
          "documentation":"<p>The name of the placement group for the Kubernetes control plane instances. This setting can't be changed after cluster creation. </p>"
        }
      },
      "documentation":"<p>The placement configuration for all the control plane instances of your local Amazon EKS cluster on an Amazon Web Services Outpost. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-outposts-capacity-considerations.html\">Capacity considerations</a> in the <i>Amazon EKS User Guide</i> </p>"
    },
    "ControlPlanePlacementResponse":{
      "type":"structure",
      "members":{
        "groupName":{
          "shape":"String",
          "documentation":"<p>The name of the placement group for the Kubernetes control plane instances.</p>"
        }
      },
      "documentation":"<p>The placement configuration for all the control plane instances of your local Amazon EKS cluster on an Amazon Web Services Outpost. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-outposts-capacity-considerations.html\">Capacity considerations</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster to create the add-on for.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names that <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a> returns.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on. The version must match one of the versions returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a>.</p>"
        },
        "serviceAccountRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an existing IAM role to bind to the add-on's service account. The role must be assigned the IAM permissions required by the add-on. If you don't specify an existing IAM role, then the add-on uses the permissions assigned to the node IAM role. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html\">Amazon EKS node IAM role</a> in the <i>Amazon EKS User Guide</i>.</p> <note> <p>To specify an existing IAM role, you must have an IAM OpenID Connect (OIDC) provider created for your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html\">Enabling IAM roles for service accounts on your cluster</a> in the <i>Amazon EKS User Guide</i>.</p> </note>"
        },
        "resolveConflicts":{
          "shape":"ResolveConflicts",
          "documentation":"<p>How to resolve field value conflicts for an Amazon EKS add-on. Conflicts are handled based on the value you choose:</p> <ul> <li> <p> <b>None</b> – If the self-managed version of the add-on is installed on your cluster, Amazon EKS doesn't change the value. Creation of the add-on might fail.</p> </li> <li> <p> <b>Overwrite</b> – If the self-managed version of the add-on is installed on your cluster and the Amazon EKS default value is different than the existing value, Amazon EKS changes the value to the Amazon EKS default value.</p> </li> <li> <p> <b>Preserve</b> – Not supported. You can set this value when updating an add-on though. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_UpdateAddon.html\">UpdateAddon</a>.</p> </li> </ul> <p>If you don't currently have the self-managed version of the add-on installed on your cluster, the Amazon EKS add-on is installed. Amazon EKS sets all values to default values, regardless of the option that you specify.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value. You define both.</p>"
        },
        "configurationValues":{
          "shape":"String",
          "documentation":"<p>The set of configuration values for the add-on that's created. The values that you provide are validated against the schema in <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonConfiguration.html\"> <code>DescribeAddonConfiguration</code> </a>.</p>"
        }
      }
    },
    "CreateAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "CreateClusterRequest":{
      "type":"structure",
      "required":[
        "name",
        "roleArn",
        "resourcesVpcConfig"
      ],
      "members":{
        "name":{
          "shape":"ClusterName",
          "documentation":"<p>The unique name to give to your cluster.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The desired Kubernetes version for your cluster. If you don't specify a value here, the default version available in Amazon EKS is used.</p> <note> <p>The default version might not be the latest version available.</p> </note>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to Amazon Web Services API operations on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html\">Amazon EKS Service IAM Role</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>"
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigRequest",
          "documentation":"<p>The VPC configuration that's used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the <i>Amazon EKS User Guide</i>. You must specify at least two subnets. You can specify up to five security groups. However, we recommend that you use a dedicated security group for your cluster control plane.</p>"
        },
        "kubernetesNetworkConfig":{
          "shape":"KubernetesNetworkConfigRequest",
          "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>Enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster control plane logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the cluster to assist with categorization and organization. Each tag consists of a key and an optional value. You define both.</p>"
        },
        "encryptionConfig":{
          "shape":"EncryptionConfigList",
          "documentation":"<p>The encryption configuration for the cluster.</p>"
        },
        "outpostConfig":{
          "shape":"OutpostConfigRequest",
          "documentation":"<p>An object representing the configuration of your local Amazon EKS cluster on an Amazon Web Services Outpost. Before creating a local cluster on an Outpost, review <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-outposts-local-cluster-overview.html\">Local clusters for Amazon EKS on Amazon Web Services Outposts</a> in the <i>Amazon EKS User Guide</i>. This object isn't available for creating Amazon EKS clusters on the Amazon Web Services cloud.</p>"
        }
      }
    },
    "CreateClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your new cluster.</p>"
        }
      }
    },
    "CreateFargateProfileRequest":{
      "type":"structure",
      "required":[
        "fargateProfileName",
        "clusterName",
        "podExecutionRoleArn"
      ],
      "members":{
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster to apply the Fargate profile to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "podExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the pod execution role to use for pods that match the selectors in the Fargate profile. The pod execution role allows Fargate infrastructure to register with your cluster as a node, and it provides read access to Amazon ECR image repositories. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The IDs of subnets to launch your pods into. At this time, pods running on Fargate are not assigned public IP addresses, so only private subnets (with no direct route to an Internet Gateway) are accepted for this parameter.</p>"
        },
        "selectors":{
          "shape":"FargateProfileSelectors",
          "documentation":"<p>The selectors to match for pods to use this Fargate profile. Each selector must have an associated namespace. Optionally, you can also specify labels for a namespace. You may specify up to five selectors in a Fargate profile.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the Fargate profile to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Fargate profile tags do not propagate to any other resources associated with the Fargate profile, such as the pods that are scheduled with it.</p>"
        }
      }
    },
    "CreateFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The full description of your new Fargate profile.</p>"
        }
      }
    },
    "CreateNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName",
        "subnets",
        "nodeRole"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to create the node group in.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The unique name to give your node group.</p>"
        },
        "scalingConfig":{
          "shape":"NodegroupScalingConfig",
          "documentation":"<p>The scaling configuration details for the Auto Scaling group that is created for your node group.</p>"
        },
        "diskSize":{
          "shape":"BoxedInteger",
          "documentation":"<p>The root device disk size (in GiB) for your node group instances. The default disk size is 20 GiB for Linux and Bottlerocket. The default disk size is 50 GiB for Windows. If you specify <code>launchTemplate</code>, then don't specify <code>diskSize</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The subnets to use for the Auto Scaling group that is created for your node group. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\"> <code>SubnetId</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>Specify the instance types for a node group. If you specify a GPU instance type, make sure to also specify an applicable GPU AMI type with the <code>amiType</code> parameter. If you specify <code>launchTemplate</code>, then you can specify zero or one instance type in your launch template <i>or</i> you can specify 0-20 instance types for <code>instanceTypes</code>. If however, you specify an instance type in your launch template <i>and</i> specify any <code>instanceTypes</code>, the node group deployment will fail. If you don't specify an instance type in a launch template or for <code>instanceTypes</code>, then <code>t3.medium</code> is used, by default. If you specify <code>Spot</code> for <code>capacityType</code>, then we recommend specifying multiple values for <code>instanceTypes</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html#managed-node-group-capacity-types\">Managed node group capacity types</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "amiType":{
          "shape":"AMITypes",
          "documentation":"<p>The AMI type for your node group. If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>amiType</code>, or the node group deployment will fail. If your launch template uses a Windows custom AMI, then add <code>eks:kube-proxy-windows</code> to your Windows nodes <code>rolearn</code> in the <code>aws-auth</code> <code>ConfigMap</code>. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "remoteAccess":{
          "shape":"RemoteAccessConfig",
          "documentation":"<p>The remote access configuration to use with your node group. For Linux, the protocol is SSH. For Windows, the protocol is RDP. If you specify <code>launchTemplate</code>, then don't specify <code>remoteAccess</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "nodeRole":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to associate with your node group. The Amazon EKS worker node <code>kubelet</code> daemon makes calls to Amazon Web Services APIs on your behalf. Nodes receive permissions for these API calls through an IAM instance profile and associated policies. Before you can launch nodes and register them into a cluster, you must create an IAM role for those nodes to use when they are launched. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html\">Amazon EKS node IAM role</a> in the <i> <i>Amazon EKS User Guide</i> </i>. If you specify <code>launchTemplate</code>, then don't specify <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\"> <code>IamInstanceProfile</code> </a> in your launch template, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "labels":{
          "shape":"labelsMap",
          "documentation":"<p>The Kubernetes labels to be applied to the nodes in the node group when they are created.</p>"
        },
        "taints":{
          "shape":"taintsList",
          "documentation":"<p>The Kubernetes taints to be applied to the nodes in the node group. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/node-taints-managed-node-groups.html\">Node taints on managed node groups</a>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata to apply to the node group to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Node group tags do not propagate to any other resources associated with the node group, such as the Amazon EC2 instances or subnets.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>An object representing a node group's launch template specification. If specified, then do not specify <code>instanceTypes</code>, <code>diskSize</code>, or <code>remoteAccess</code> and make sure that the launch template meets the requirements in <code>launchTemplateSpecification</code>.</p>"
        },
        "updateConfig":{
          "shape":"NodegroupUpdateConfig",
          "documentation":"<p>The node group update configuration.</p>"
        },
        "capacityType":{
          "shape":"CapacityTypes",
          "documentation":"<p>The capacity type for your node group.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes version to use for your managed nodes. By default, the Kubernetes version of the cluster is used, and this is the only accepted specified value. If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>version</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "releaseVersion":{
          "shape":"String",
          "documentation":"<p>The AMI version of the Amazon EKS optimized AMI to use with your node group. By default, the latest available AMI version for the node group's current Kubernetes version is used. For information about Linux versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS optimized Amazon Linux AMI versions</a> in the <i>Amazon EKS User Guide</i>. Amazon EKS managed node groups support the November 2022 and later releases of the Windows AMIs. For information about Windows versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-ami-versions-windows.html\">Amazon EKS optimized Windows AMI versions</a> in the <i>Amazon EKS User Guide</i>.</p> <p>If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>releaseVersion</code>, or the node group deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Amazon EKS User Guide</i>.</p>"
        }
      }
    },
    "CreateNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your new node group.</p>"
        }
      }
    },
    "DeleteAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster to delete the add-on from.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"uri",
          "locationName":"addonName"
        },
        "preserve":{
          "shape":"Boolean",
          "documentation":"<p>Specifying this option preserves the add-on software on your cluster but Amazon EKS stops managing any settings for the add-on. If an IAM account is associated with the add-on, it isn't removed.</p>",
          "location":"querystring",
          "locationName":"preserve"
        }
      }
    },
    "DeleteAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "DeleteClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to delete.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of the cluster to delete.</p>"
        }
      }
    },
    "DeleteFargateProfileRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "fargateProfileName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the Fargate profile to delete.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile to delete.</p>",
          "location":"uri",
          "locationName":"fargateProfileName"
        }
      }
    },
    "DeleteFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The deleted Fargate profile.</p>"
        }
      }
    },
    "DeleteNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that is associated with your node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to delete.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DeleteNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your deleted node group.</p>"
        }
      }
    },
    "DeregisterClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the connected cluster to deregister.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeregisterClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"Cluster"}
      }
    },
    "DescribeAddonConfigurationRequest":{
      "type":"structure",
      "required":[
        "addonName",
        "addonVersion"
      ],
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names that <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a> returns.</p>",
          "location":"querystring",
          "locationName":"addonName"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on. The version must match one of the versions returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a>.</p>",
          "location":"querystring",
          "locationName":"addonVersion"
        }
      }
    },
    "DescribeAddonConfigurationResponse":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on. The version must match one of the versions returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\"> <code>DescribeAddonVersions</code> </a>.</p>"
        },
        "configurationSchema":{
          "shape":"String",
          "documentation":"<p>A JSON schema that's used to validate the configuration values that you provide when an addon is created or updated.</p>"
        }
      }
    },
    "DescribeAddonRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "addonName"
      ],
      "members":{
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of the cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"uri",
          "locationName":"addonName"
        }
      }
    },
    "DescribeAddonResponse":{
      "type":"structure",
      "members":{
        "addon":{"shape":"Addon"}
      }
    },
    "DescribeAddonVersionsRequest":{
      "type":"structure",
      "members":{
        "kubernetesVersion":{
          "shape":"String",
          "documentation":"<p>The Kubernetes versions that you can use the add-on with.</p>",
          "location":"querystring",
          "locationName":"kubernetesVersion"
        },
        "maxResults":{
          "shape":"DescribeAddonVersionsRequestMaxResults",
          "documentation":"<p>The maximum number of results to return.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeAddonVersionsRequest</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>.</p>",
          "location":"querystring",
          "locationName":"addonName"
        },
        "types":{
          "shape":"StringList",
          "documentation":"<p>The type of the add-on. For valid <code>types</code>, don't specify a value for this property.</p>",
          "location":"querystring",
          "locationName":"types"
        },
        "publishers":{
          "shape":"StringList",
          "documentation":"<p>The publisher of the add-on. For valid <code>publishers</code>, don't specify a value for this property.</p>",
          "location":"querystring",
          "locationName":"publishers"
        },
        "owners":{
          "shape":"StringList",
          "documentation":"<p>The owner of the add-on. For valid <code>owners</code>, don't specify a value for this property.</p>",
          "location":"querystring",
          "locationName":"owners"
        }
      }
    },
    "DescribeAddonVersionsRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "DescribeAddonVersionsResponse":{
      "type":"structure",
      "members":{
        "addons":{
          "shape":"Addons",
          "documentation":"<p>The list of available versions with Kubernetes version compatibility and other properties.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeAddonVersionsResponse</code> where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.</p> <note> <p>This token should be treated as an opaque identifier that is used only to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        }
      }
    },
    "DescribeClusterRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to describe.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DescribeClusterResponse":{
      "type":"structure",
      "members":{
        "cluster":{
          "shape":"Cluster",
          "documentation":"<p>The full description of your specified cluster.</p>"
        }
      }
    },
    "DescribeFargateProfileRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "fargateProfileName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the Fargate profile.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile to describe.</p>",
          "location":"uri",
          "locationName":"fargateProfileName"
        }
      }
    },
    "DescribeFargateProfileResponse":{
      "type":"structure",
      "members":{
        "fargateProfile":{
          "shape":"FargateProfile",
          "documentation":"<p>The full description of your Fargate profile.</p>"
        }
      }
    },
    "DescribeIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "identityProviderConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The cluster name that the identity provider configuration is associated to.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "identityProviderConfig":{
          "shape":"IdentityProviderConfig",
          "documentation":"<p>An object representing an identity provider configuration.</p>"
        }
      }
    },
    "DescribeIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "identityProviderConfig":{
          "shape":"IdentityProviderConfigResponse",
          "documentation":"<p>The object that represents an OpenID Connect (OIDC) identity provider configuration.</p>"
        }
      }
    },
    "DescribeNodegroupRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodegroupName"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the node group.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the node group to describe.</p>",
          "location":"uri",
          "locationName":"nodegroupName"
        }
      }
    },
    "DescribeNodegroupResponse":{
      "type":"structure",
      "members":{
        "nodegroup":{
          "shape":"Nodegroup",
          "documentation":"<p>The full description of your node group.</p>"
        }
      }
    },
    "DescribeUpdateRequest":{
      "type":"structure",
      "required":[
        "name",
        "updateId"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster associated with the update.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "updateId":{
          "shape":"String",
          "documentation":"<p>The ID of the update to describe.</p>",
          "location":"uri",
          "locationName":"updateId"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS node group associated with the update. This parameter is required if the update is a node group update.</p>",
          "location":"querystring",
          "locationName":"nodegroupName"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\"> <code>ListAddons</code> </a>. This parameter is required if the update is an add-on update.</p>",
          "location":"querystring",
          "locationName":"addonName"
        }
      }
    },
    "DescribeUpdateResponse":{
      "type":"structure",
      "members":{
        "update":{
          "shape":"Update",
          "documentation":"<p>The full description of the specified update.</p>"
        }
      }
    },
    "DisassociateIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "identityProviderConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the cluster to disassociate an identity provider from.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "identityProviderConfig":{
          "shape":"IdentityProviderConfig",
          "documentation":"<p>An object representing an identity provider configuration.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "DisassociateIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "EncryptionConfig":{
      "type":"structure",
      "members":{
        "resources":{
          "shape":"StringList",
          "documentation":"<p>Specifies the resources to be encrypted. The only supported value is \"secrets\".</p>"
        },
        "provider":{
          "shape":"Provider",
          "documentation":"<p>Key Management Service (KMS) key. Either the ARN or the alias can be used.</p>"
        }
      },
      "documentation":"<p>The encryption configuration for the cluster.</p>"
    },
    "EncryptionConfigList":{
      "type":"list",
      "member":{"shape":"EncryptionConfig"},
      "max":1
    },
    "ErrorCode":{
      "type":"string",
      "enum":[
        "SubnetNotFound",
        "SecurityGroupNotFound",
        "EniLimitReached",
        "IpNotAvailable",
        "AccessDenied",
        "OperationNotPermitted",
        "VpcIdNotFound",
        "Unknown",
        "NodeCreationFailure",
        "PodEvictionFailure",
        "InsufficientFreeAddresses",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict",
        "AdmissionRequestDenied",
        "UnsupportedAddonModification",
        "K8sResourceNotFound"
      ]
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>A brief description of the error. </p> <ul> <li> <p> <b>SubnetNotFound</b>: We couldn't find one of the subnets associated with the cluster.</p> </li> <li> <p> <b>SecurityGroupNotFound</b>: We couldn't find one of the security groups associated with the cluster.</p> </li> <li> <p> <b>EniLimitReached</b>: You have reached the elastic network interface limit for your account.</p> </li> <li> <p> <b>IpNotAvailable</b>: A subnet associated with the cluster doesn't have any free IP addresses.</p> </li> <li> <p> <b>AccessDenied</b>: You don't have permissions to perform the specified operation.</p> </li> <li> <p> <b>OperationNotPermitted</b>: The service role associated with the cluster doesn't have the required access permissions for Amazon EKS.</p> </li> <li> <p> <b>VpcIdNotFound</b>: We couldn't find the VPC associated with the cluster.</p> </li> </ul>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>A more complete description of the error.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>An optional field that contains the resource IDs associated with the error.</p>"
        }
      },
      "documentation":"<p>An object representing an error when an asynchronous operation fails.</p>"
    },
    "ErrorDetails":{
      "type":"list",
      "member":{"shape":"ErrorDetail"}
    },
    "FargateProfile":{
      "type":"structure",
      "members":{
        "fargateProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the Fargate profile.</p>"
        },
        "fargateProfileArn":{
          "shape":"String",
          "documentation":"<p>The full Amazon Resource Name (ARN) of the Fargate profile.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS cluster that the Fargate profile belongs to.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the Fargate profile was created.</p>"
        },
        "podExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the pod execution role to use for pods that match the selectors in the Fargate profile. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The IDs of subnets to launch pods into.</p>"
        },
        "selectors":{
          "shape":"FargateProfileSelectors",
          "documentation":"<p>The selectors to match for pods to use this Fargate profile.</p>"
        },
        "status":{
          "shape":"FargateProfileStatus",
          "documentation":"<p>The current status of the Fargate profile.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The metadata applied to the Fargate profile to assist with categorization and organization. Each tag consists of a key and an optional value. You define both. Fargate profile tags do not propagate to any other resources associated with the Fargate profile, such as the pods that are scheduled with it.</p>"
        }
      },
      "documentation":"<p>An object representing an Fargate profile.</p>"
    },
    "FargateProfileLabel":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "FargateProfileSelector":{
      "type":"structure",
      "members":{
        "namespace":{
          "shape":"String",
          "documentation":"<p>The Kubernetes namespace that the selector should match.</p>"
        },
        "labels":{
          "shape":"FargateProfileLabel",
          "documentation":"<p>The Kubernetes labels that the selector should match. A pod must contain all of the labels that are specified in the selector for it to be considered a match.</p>"
        }
      },
      "documentation":"<p>An object representing an Fargate profile selector.</p>"
    },
    "FargateProfileSelectors":{
      "type":"list",
      "member":{"shape":"FargateProfileSelector"}
    },
    "FargateProfileStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "FargateProfilesRequestMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "Identity":{
      "type":"structure",
      "members":{
        "oidc":{
          "shape":"OIDC",
[...]
