bucket         = "blackfriday-terraform-state-mah-groupe1"
key            = "module1/terraform.tfstate"
region         = "eu-west-3"
dynamodb_table = "blackfriday-terraform-locks-mah-groupe1"
encrypt        = true
