project_name             = "blackfriday-survival-MAH-groupe1"
name_suffix              = "MAH-groupe1"
aws_region               = "eu-south-1"
cluster_version          = "1.31"
node_instance_types      = ["m6i.large"]
node_group_min_size      = 3
node_group_max_size      = 12
node_group_desired_size  = 3

enable_spot_node_group      = false
spot_node_instance_types    = ["m6i.large"]
spot_node_group_min_size    = 0
spot_node_group_max_size    = 10
spot_node_group_desired_size = 0

enable_cluster_bootstrap = false

tags = {
  Owner      = "mt5-team"
  CostCenter = "blackfriday"
}
