google-api-core==2.11.0
google-cloud-profiler==4.0.0
grpcio-health-checking==1.54.0
python-json-logger==2.0.7
requests==2.30.0
rsa==4.9
opentelemetry-distro==0.38b0
opentelemetry-instrumentation-grpc==0.38b0
opentelemetry-exporter-otlp-proto-grpc==1.17.0