google-api-core==1.31.5
google-python-cloud-debugger==2.18
google-cloud-profiler==3.0.7
grpcio-health-checking==1.33.2
grpcio==1.44.0
opencensus==0.9.0
opencensus-ext-stackdriver==0.8.0
opencensus-ext-grpc==0.7.1
python-json-logger==0.1.11
requests==2.27.1
urllib3==1.26.9
rsa==4.7
pyyaml==6.0
protobuf==3.20.0 # transitive dependency, move when google-api is bumped safely
