google-api-core==2.12.0
google-cloud-profiler==4.1.0
grpcio-health-checking==1.59.0
python-json-logger==2.0.7
requests==2.31.0
rsa==4.9
opentelemetry-distro==0.41b0
opentelemetry-instrumentation-grpc==0.41b0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
