bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform.lock.hcl
release/wi-kubernetes-manifests.yaml
terraform.tfstate
terraform.tfstate.backup
