hub: docker.io/istio
tag: 1.3.5
pullPolicy: Always

logLevel: info

# Configuration file to insert istio-cni plugin configuration
# by default this will be the first file found in the cni-conf-dir
# Example
# cniConfFileName: 10-calico.conflist

# CNI bin and conf dir override settings
# defaults:
cniBinDir: /opt/cni/bin
cniConfDir: /etc/cni/net.d
cniConfFileName: ""

excludeNamespaces:
  - istio-system


