{{ define "assistant" }}

{{ template "header" . }}
<div {{ with $.platform_css }} class="{{.}}" {{ end }}>
  <span class="platform-flag">
    {{$.platform_name}}
  </span>
</div>

<main role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="chat-modal" class="chat-modal">
          <div id="bot-messages" class="bot-messages">
            <p class="bot-message">
              <span class="bot-message-text">Hi, I'm the bot. I can help you with your shopping experience.</span>
            </p>
            <p class="bot-message">
              <span class="bot-message-text">What can I help you with?</span>
            </p>
          </div>
          <div class="bot-input">
            <input id="bot-input-text" type="text" class="bot-input-text" placeholder="Type your message here...">
            <input type="file" onchange="getBase64()">
            <button id="bot-input-button" class="bot-input-button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  var image;
  function getBase64 ()  {
    var file = document.querySelector('input[type=file]')['files'][0];
    var reader = new FileReader();
    var baseString;
    reader.onloadend = function () {
      baseString = reader.result;
      console.log(baseString);
      image = baseString;
    };
    reader.readAsDataURL(file);
  }

  const chatModal = document.getElementById("chat-modal");
  const botMessages = document.getElementById("bot-messages");
  const botbutton = document.getElementById("bot-input-button");
  const botinput = document.getElementById("bot-input-text");

  async function main() {
    botbutton.addEventListener("click", handleButtonClick);

    botinput.addEventListener("keypress", (event) => {
      if (event.key === "Enter") {
        botbutton.click();
      }
    });
  }

  async function handleButtonClick() {
    if(!botinput.value || !botinput.value.trim){
      return;
    }
    botMessages.classList.add("loading");
    console.log("bot button clicked");
    const message = botinput.value;
    console.log("message: " + message);
    const usermessage = document.createElement("p");
    const userMessageSpan = document.createElement("span");
    userMessageSpan.innerText = message;
    userMessageSpan.classList.add("user-message-text");
    usermessage.classList.add("user-message");
    usermessage.appendChild(userMessageSpan);
    botMessages.appendChild(usermessage);
    botMessages.scrollTo(0, botMessages.scrollHeight);
    botinput.value = "";

    botbutton.disabled = true;
    botinput.disabled = true;
    console.log("bot is typing");

    const response = await fetch("/bot", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        message: message,
        image: image
      }),
    });

    const responseJson = await response.json();

    const botMessage = document.createElement("p");
    const botMessageSpan = document.createElement("span");
    botMessageSpan.innerText = responseJson.message;
    botMessageSpan.classList.add("bot-message-text");
    botMessage.classList.add("bot-message");
    botMessage.appendChild(botMessageSpan);
    botMessages.appendChild(botMessage);
    botMessages.scrollTo(0, botMessages.scrollHeight);

    botbutton.disabled = false;
    botinput.disabled = false;
    botinput.focus();
    botMessages.classList.remove("loading");
    console.log(responseJson);
  }

  main();
</script>

{{ end }}
