

{{ define "comment" }}
<style>
  repeat {
      display:block;
  }
  repeat[n="1"]:before {
     content: "★";
  }
  repeat[n="2"]:before {
     content: "★★";
  }
  repeat[n="3"]:before {
     content: "★★★";
  }
  repeat[n="4"]:before {
     content: "★★★★";
  }
  repeat[n="5"]:before {
     content: "★★★★★";
  }
</style>

<div>
  <div class="row">
    <div class="row">
      <h2 class="text-center">Comments</h2>
    </div>
    <div class="row">
      {{range .comments }}
        <div class="col-md-6">
          <p>
            <b>Author :</b> {{ .UserName }} - {{ .Date }}
          </p>
          <p>
            <repeat n="{{ .Stars}}"> - {{ .CommentText }}</repeat>
          </p>
        </div>
      {{ end }}
    </div>
  </div>

  <hr>

  <div class="row checkout">
    <div class="col-12 col-lg-8 offset-lg-2">
      <h3 class="text-center">Leave a comment</h3>
      <form action="/comment" method="POST">
        <input type="hidden"  id="product_id" name="product_id" value="{{ .product.Item.Id }}">
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="login" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="stars">Stars</label>
            <select name="stars" id="stars" class="form-control">
              <option value="1">&#9733;</option>
              <option value="2">&#9733; &#9733;</option>
              <option value="3">&#9733; &#9733; &#9733;</option>
              <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
              <option value="5" selected="selected">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <textarea id="content" name="content" rows="4" cols="60">Here is my comment</textarea>
        </div>
        <div class="form-row center-contents last-row">
          <button class="btn btn-info" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
