{{ define "error" }}
    {{ template "header" . }}

    <main role="main">
        <div class="py-5">
            <div class="container bg-light py-3 px-lg-5 py-lg-5">
                <h1>Uh, oh!</h1>
                <p>Something has failed. Below are some details for debugging.</p>
                
                <p><strong>HTTP Status:</strong> {{.status_code}} {{.status}}</p>
                <pre class="border border-danger p-3"
                    style="white-space: pre-wrap; word-break: keep-all;">
                    {{- .error -}}
                </pre>
            </div>
        </div>
    </main>

    {{ template "footer" . }}
{{ end }}
