<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hipster Shop</title>
</head>
<body>

    <form method="post" action="/setCurrency" id="currencySelector">
        <select name="currency_code"
            onchange="document.getElementById('currencySelector').submit()">
            {{ range $.currencies }}
            <option {{ if (eq . $.user_currency)}}selected="selected"{{end}}>{{.}}</option>
            {{ end}}
        </select>
    </form>
    

    <p>{{ len $.products }} products</p>
</body>
</html>
