google-api-core==2.25.1
grpcio-health-checking==1.74.0
grpcio==1.74.0
jinja2==3.1.6
python-json-logger==3.3.0
google-cloud-profiler==4.1.0
google-cloud-trace==1.16.2
requests==2.32.4
opentelemetry-distro==0.41b0
opentelemetry-instrumentation-grpc==0.58b0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
