google-api-core==1.24.1
grpcio-health-checking==1.33.2
grpcio==1.33.2
jinja2==2.11.3
python-json-logger==0.1.11
requests==2.24.0
rook>=0.1.146
opentracing==2.4.0
jaeger-client==4.5.0
-e git://github.com/Rookout/python-grpc.git@35b7456cdc7a91d743f29492e67429fce7f27963#egg=grpcio_opentracing