google-api-core==1.24.1
grpcio-health-checking==1.33.2
grpcio==1.33.2
jinja2==2.11.3
opencensus==0.7.11
opencensus-ext-stackdriver==0.7.3
opencensus-ext-grpc==0.7.1
python-json-logger==0.1.11
google-cloud-profiler==1.1.2
google-cloud-trace==0.24.0
requests==2.27.1
urllib3==1.26.5
protobuf==3.15.0 # transitive dependency, move when google-api is bumped safely